<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>us.thenas.crowdsnap.backup-pull</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>mkdir -p "$HOME/Library/Logs/CrowdSnap" &amp;&amp; exec "$HOME/Library/Application Support/CrowdSnap/pull-backup-mac.sh" &gt;&gt; "$HOME/Library/Logs/CrowdSnap/backup-pull.log" 2&gt;&amp;1</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>21600</integer>
</dict>
</plist>
